@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Sans:opsz,wght@9..40,500&family=Hind:wght@600&family=Martian+Mono:wght@500&family=Roboto:wght@300;500&display=swap");
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.display-none {
  display: none;
}

body {
  font-family: "Abril Fatface", serif;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
body header {
  border-bottom: 3px solid #4EA641;
  background-color: #94BF36;
}
body header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
body header nav ul:not(#search_result) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
  padding: 0 0.5rem;
}
body header nav ul:not(#search_result) li {
  list-style-type: none;
}
body header nav ul:not(#search_result) li:not(#search_result li) {
  margin: auto 0.3rem;
  padding: 0.5rem;
}
body header nav ul:not(#search_result) li:not(#search_result li):not(:nth-of-type(3)) {
  box-shadow: 0 8px 6px -6px black;
  border: 2px solid black;
  border-radius: 2px;
  line-height: 0;
  padding: 15px 10px;
  background-color: #4EA641;
}
body header nav ul:not(#search_result) li:not(#search_result li):not(:nth-of-type(3)):hover {
  color: white;
  border-color: white;
}
body header nav ul:not(#search_result) li:not(#search_result li) input {
  padding: 0.1rem;
  box-shadow: inset 1px 1px 10px 1px grey;
}
body header nav ul:not(#search_result) li:not(#search_result li) a, body header nav ul:not(#search_result) li:not(#search_result li) a:visited, body header nav ul:not(#search_result) li:not(#search_result li) a:hover {
  text-decoration: none;
  color: unset;
}
body header nav ul:not(#search_result) li:not(#search_result li) #search_result {
  position: absolute;
  top: 10;
}
body header nav ul:not(#search_result) li:not(#search_result li) #search_result li {
  background-color: #F2F2F2;
  cursor: pointer;
}
body main {
  min-height: calc(90vh - 50px);
}
body main fieldset {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
  padding: 1rem;
  border-radius: 3px;
}
body main fieldset legend {
  font-style: italic;
  padding: 0 0.4rem;
}
body main fieldset article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main fieldset article form {
  display: flex;
}
body main fieldset article form label {
  margin: 0.5rem;
  text-align: left;
}
body main fieldset article form label input {
  padding: 0.5rem;
  letter-spacing: 1px;
}
body main fieldset article form label input:not(#email), body main fieldset article form label input:not(#date_entree) {
  text-transform: uppercase;
  letter-spacing: 3px;
}
body main fieldset #plus_btn, body main fieldset #enregistrer, body main fieldset #btn_enregistrer_modif {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.2rem auto;
  padding: 5px;
  border-radius: 2px;
  background-color: #4EA641;
}
body main fieldset #plus_btn:hover, body main fieldset #enregistrer:hover {
  color: white;
  border-color: white;
}
body main h1 {
  width: -moz-fit-content;
  width: fit-content;
  margin: 1rem auto;
  text-align: center;
  padding: 1rem;
  background-color: #04B2D9;
  border-radius: 3px;
}
body main table {
  margin: auto;
  border: 2px solid #D9048E;
  border-collapse: collapse;
  font-family: "Roboto", sans-serif;
}
body main table tbody {
  height: 120px;
  overflow-y: auto;
  overflow-x: hidden;
}
body main table tr:hover {
  opacity: 0.5;
  cursor: pointer;
}
body main table td, body main table th {
  border: 1px solid black;
  padding: 0.4rem;
  font-size: 0.8rem;
  text-align: center;
}
body main table th {
  background-color: #F2F2F2;
}
body main table #btn_enregistrer_modif {
  justify-self: center;
}
body footer {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  border-top: 3px solid #4EA641;
  background-color: #94BF36;
}/*# sourceMappingURL=style.css.map */